main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2%;
    flex-wrap: wrap;
}

main #iframe {
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2%;
}

main img {
    width: 100%;
}

main #button {
    background-color: #FF5B5B;
    text-decoration: none;
    color: aliceblue;
    width: 30%;
    height: 30px;
    border-radius: 4px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 3%;
}


